# SCF Workshop on databases and SQL

In [1]:
import requests
from pathlib import Path 
import time
import pandas as pd 
import sqlalchemy

In [3]:
db_filename = 'stackoverflow-2016.db' 
db_path = db_filename

In [4]:
engine = sqlalchemy.create_engine(f"sqlite:///{db_path}") 
connection = engine.connect()

In [5]:
engine.table_names()

/tmp/ipykernel_25/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['answers', 'questions', 'questions_tags', 't1', 'table_example', 'users']

In [6]:
for exp in connection.execute('SELECT sql FROM sqlite_master;'):
    print(exp[0])

CREATE TABLE "questions" (
  "questionid" INTEGER,
  "creationdate" TEXT,
  "score" INTEGER,
  "viewcount" INTEGER,
  "title" TEXT,
  "ownerid" INTEGER
)
CREATE TABLE "answers" (
  "answerid" INTEGER,
  "questionid" INTEGER,
  "creationdate" TEXT,
  "score" INTEGER,
  "ownerid" INTEGER
)
CREATE TABLE "questions_tags" (
  "questionid" INTEGER,
  "tag" TEXT
)
CREATE TABLE "users" (
  "userid" INTEGER,
  "creationdate" TEXT,
  "lastaccessdate" TEXT,
  "location" TEXT,
  "reputation" INTEGER,
  "displayname" TEXT,
  "upvotes" INTEGER,
  "downvotes" INTEGER,
  "age" INTEGER,
  "accountid" INTEGER
)
CREATE VIEW question_contrasts AS
SELECT * FROM questions Q1 JOIN questions Q2
ON Q1.ownerid = Q2.ownerid
WHERE Q1.creationdate != Q2.creationdate
CREATE VIEW maxrep_step1 AS
SELECT *, MAX(reputation) AS maxRep
FROM answers A1
JOIN users U1
WHERE A1.ownerid = U1.userid
GROUP BY A1.questionid
LIMIT 10
CREATE VIEW maxrep_a AS
SELECT *, MAX(reputation) AS maxRep
FROM answers A1
JOIN users U1
WHERE A1.ownerid = U1.userid
GROUP BY A1.questionid
LIMIT 100
CREATE VIEW high_views AS
SELECT viewcount, questionid
FROM questions
WHERE viewcount > 1000
CREATE VIEW highViews AS
SELECT questionid
FROM questions
WHERE viewcount > 1000
CREATE TABLE t1 (name varchar(30))
CREATE TABLE table_example (name varchar(30))

## Self Joins

In [6]:
# Self join
query = '''
SELECT * 
FROM questions T1, questions T2
WHERE T1.ownerid = T2.ownerid
AND T1.creationdate != T2.creationdate
LIMIT 5
'''
question_contrasts = pd.read_sql(query,engine)
question_contrasts

,questionid,creationdate,score,viewcount,title,ownerid,questionid,creationdate,score,viewcount,title,ownerid
0,34552550,2016-01-01 00:00:03,0,108,Scope between methods,5684416,34558807,2016-01-01 18:27:40,0,44,Bug when displaying images in iOS app,5684416
1,34552550,2016-01-01 00:00:03,0,108,Scope between methods,5684416,34560451,2016-01-01 21:56:32,0,29,Array of rounded buttons,5684416
2,34552550,2016-01-01 00:00:03,0,108,Scope between methods,5684416,34572511,2016-01-03 01:34:23,0,36,App out of phone screen bounds,5684416
3,34552550,2016-01-01 00:00:03,0,108,Scope between methods,5684416,34573433,2016-01-03 04:48:47,0,54,Background color,5684416
4,34552550,2016-01-01 00:00:03,0,108,Scope between methods,5684416,34576840,2016-01-03 13:04:35,0,71,App not displaying properly on iphone6,5684416

In [7]:
# Remove duplicate pairs
query = '''
SELECT * 
FROM questions T1, questions T2
WHERE T1.ownerid = T2.ownerid
AND T1.creationdate < T2.creationdate
LIMIT 5
'''
question_contrasts = pd.read_sql(query,engine)
question_contrasts

,questionid,creationdate,score,viewcount,title,ownerid,questionid,creationdate,score,viewcount,title,ownerid
0,34552550,2016-01-01 00:00:03,0,108,Scope between methods,5684416,34558807,2016-01-01 18:27:40,0,44,Bug when displaying images in iOS app,5684416
1,34552550,2016-01-01 00:00:03,0,108,Scope between methods,5684416,34560451,2016-01-01 21:56:32,0,29,Array of rounded buttons,5684416
2,34552550,2016-01-01 00:00:03,0,108,Scope between methods,5684416,34572511,2016-01-03 01:34:23,0,36,App out of phone screen bounds,5684416
3,34552550,2016-01-01 00:00:03,0,108,Scope between methods,5684416,34573433,2016-01-03 04:48:47,0,54,Background color,5684416
4,34552550,2016-01-01 00:00:03,0,108,Scope between methods,5684416,34576840,2016-01-03 13:04:35,0,71,App not displaying properly on iphone6,5684416

## Set Operations

In [8]:
# Find all the questions about either R or Python or JAVA.
# Invesitage tag col
query = '''
SELECT DISTINCT tag
FROM questions_tags
'''
pd.read_sql(query,engine).size
query = '''
SELECT DISTINCT tag
FROM questions_tags
LIMIT 10
'''
pd.read_sql(query,engine)

          tag
0          c#
1       razor
2       flags
3  javascript
4        rxjs
5     node.js
6       audio
7      module
8      ffmpeg
9         php

In [79]:
# popular tags (has many views)
query = '''
SELECT DISTINCT tag
FROM questions_tags
WHERE questionid IN (SELECT questionid FROM questions ORDER BY viewcount)
LIMIT 20
'''
pd.read_sql(query,engine)

             tag
0             c#
1          razor
2          flags
3     javascript
4           rxjs
5        node.js
6          audio
7         module
8         ffmpeg
9            php
10         regex
11  if-statement
12       haskell
13           ghc
14             r
15         dplyr
16         tidyr
17      magrittr
18          java
19     algorithm

In [9]:
# Find all the questions about either R or Python (added Java)
query = '''
SELECT title 
FROM questions Q1, questions_tags T1
WHERE Q1.questionid = T1.questionid
AND T1.tag = 'r'
UNION
SELECT title 
FROM questions Q2, questions_tags T2
WHERE Q2.questionid = T2.questionid
AND T2.tag = 'python'
UNION
SELECT title 
FROM questions Q3, questions_tags T3
WHERE Q3.questionid = T3.questionid
AND T3.tag = 'java'
LIMIT 10
'''
pd.read_sql(query,engine)

                                               title
0                 !arraylist.contains() not working?
1                 !ls in Jupyter notebook (Python 3)
2                  " * " vs " : " in R for modelling
3  " ImportError: cannot import name CaptchaField...
4  " No qualifying bean of type " while DAO testi...
5  " could not find or load main class " cmd, win...
6  " django.template.exceptions.TemplateSyntaxErr...
7  " javax.servlet.* " and "HttpServlet" can't be...
8  """TypeError: only length-1 arrays can be conv...
9  "%matplotlib inline" doesn't display unicode c...

## String Processing

In [10]:
# Select the questions that have "java" but not "javascript" in their titles using regular expression syntax
query = '''
SELECT * 
FROM questions_tags
WHERE tag LIKE '%java'
LIMIT 10
'''
pd.read_sql(query,engine)

   questionid   tag
0    34553290  java
1    34553746  java
2    34554170  java
3    34554274  java
4    34555871  java
5    34556689  java
6    34556734  java
7    34557412  java
8    34557957  java
9    34560148  java

In [11]:
# calculate the length (in characters) of the title of each question
query = '''
SELECT title, LENGTH(title)
AS title_char_length
FROM questions
LIMIT 10
'''
pd.read_sql(query,engine)

                                               title  title_char_length
0                              Scope between methods                 21
1  Rails - Unknown Attribute - Unable to add a ne...                 80
2  Selenium Firefox webdriver won't load a blank ...                 85
3                    Android Studio styles.xml Error                 31
4  Java: reference to non-finial local variables ...                 61
5  How to namespace routes in Rails 4 to set up F...                 51
6  Force delete Session records for the current l...                 69
7                Which data structure (full HABTM ?)                 35
8                PHP: Phing, Phar, and phar.readonly                 35
9  Is there a way to use flashlight on in Android...                 76

In [12]:
# Process the creationdate field to create year, day, and month fields.
# with original
query = '''
SELECT questionid, ownerid, score, viewcount, creationdate,
    SUBSTRING(creationdate, 1,4) AS year,
    SUBSTRING(creationdate, 6,2) AS month,
    SUBSTRING(creationdate, 9,2) AS day 
FROM questions
LIMIT 5
'''
creationdate_orig = pd.read_sql(query,engine)
# without original
query = '''
SELECT questionid, ownerid, score, viewcount,
    SUBSTRING(creationdate, 1,4) AS year,
    SUBSTRING(creationdate, 6,2) AS month,
    SUBSTRING(creationdate, 9,2) AS day 
FROM questions
LIMIT 15
'''
creationdate_final = pd.read_sql(query,engine)

In [13]:
creationdate_orig

   questionid  ownerid  score  viewcount         creationdate  year month day
0    34552550  5684416      0        108  2016-01-01 00:00:03  2016    01  01
1    34552551  2457617      1        151  2016-01-01 00:00:07  2016    01  01
2    34552552  5732525      2       1942  2016-01-01 00:00:39  2016    01  01
3    34552554  5735112      0        153  2016-01-01 00:00:50  2016    01  01
4    34552555  4646288     -1         54  2016-01-01 00:00:51  2016    01  01

In [14]:
creationdate_final

    questionid    ownerid  score  viewcount  year month day
0     34552550  5684416.0      0        108  2016    01  01
1     34552551  2457617.0      1        151  2016    01  01
2     34552552  5732525.0      2       1942  2016    01  01
3     34552554  5735112.0      0        153  2016    01  01
4     34552555  4646288.0     -1         54  2016    01  01
5     34552557   506982.0      1         26  2016    01  01
6     34552558        NaN      1        190  2016    01  01
7     34552560  3540430.0      0         35  2016    01  01
8     34552563     4668.0      2        484  2016    01  01
9     34552565  4087330.0      2        308  2016    01  01
10    34552567   546029.0      3        963  2016    01  01
11    34552584  5635159.0      1        247  2016    01  01
12    34552587  4832512.0      0         79  2016    01  01
13    34552588  2945133.0      2         58  2016    01  01
14    34552589  3639180.0      0        373  2016    01  01

## Subqueries

In [15]:
# Subqueries
# Write a query that returns the title of each question and answer to each question from the user 
# with the highest reputation amongst all those answering the question.

query = '''
SELECT *
FROM questions Q 
JOIN (SELECT *, MAX(reputation) AS maxRep 
        FROM answers A JOIN users U 
        WHERE A.ownerid = U.userid 
        GROUP BY A.questionid) maxRepTable
WHERE Q.questionid = maxRepTable.questionid
LIMIT 10
'''
pd.read_sql(query,engine)

,questionid,creationdate,score,viewcount,title,ownerid,answerid,questionid,creationdate,score,...,creationdate:1,lastaccessdate,location,reputation,displayname,upvotes,downvotes,age,accountid,maxRep
0,34552550,2016-01-01 00:00:03,0,108,Scope between methods,5684416.0,34552570,34552550,2016-01-01 00:04:27,1,...,2008-09-30 02:31:01,2017-03-13 17:05:28,"Palo Alto, CA",73941,jtbandes,1334,402,24.0,12095,73941
1,34552551,2016-01-01 00:00:07,1,151,Rails - Unknown Attribute - Unable to add a ne...,2457617.0,34554360,34552551,2016-01-01 07:23:32,1,...,2014-05-06 07:44:36,2017-03-10 15:04:52,"Ahmadabad, India",5874,Gagan Gami,511,88,28.0,4429723,5874
2,34552552,2016-01-01 00:00:39,2,1942,Selenium Firefox webdriver won't load a blank ...,5732525.0,34555040,34552552,2016-01-01 09:39:33,2,...,2013-10-07 07:47:41,2017-03-10 10:43:37,None,96,Hubert,4,0,NaN,3401741,96
3,34552554,2016-01-01 00:00:50,0,153,Android Studio styles.xml Error,5735112.0,34552709,34552554,2016-01-01 00:36:05,0,...,2015-10-13 18:23:16,2017-03-13 18:45:33,None,1275,miqdadamirali,179,45,NaN,7115774,1275
4,34552555,2016-01-01 00:00:51,-1,54,Java: reference to non-finial local variables ...,4646288.0,34552652,34552555,2016-01-01 00:21:38,1,...,2008-09-18 19:36:30,2017-03-13 21:40:57,"Portland, OR",60410,Jim Garrison,3018,12050,NaN,9760,60410
5,34552557,2016-01-01 00:01:12,1,26,How to namespace routes in Rails 4 to set up F...,506982.0,34585886,34552557,2016-01-04 06:38:01,1,...,2010-11-13 21:10:13,2017-03-04 08:04:03,None,112,Wemmick,95,0,NaN,238236,112
6,34552558,2016-01-01 00:01:27,1,190,Force delete Session records for the current l...,NaN,34552958,34552558,2016-01-01 01:40:56,0,...,2010-02-15 13:10:04,2017-03-13 16:01:53,India,2959,Pankaj,931,532,36.0,375765,2959
7,34552560,2016-01-01 00:01:50,0,35,Which data structure (full HABTM ?),3540430.0,34552698,34552560,2016-01-01 00:33:17,0,...,2014-04-16 09:02:57,2016-07-24 12:40:33,None,11,user3540430,0,0,NaN,4335954,11
8,34552563,2016-01-01 00:02:22,2,484,"PHP: Phing, Phar, and phar.readonly",4668.0,35120728,34552563,2016-01-31 23:16:26,3,...,2016-01-31 23:11:43,2016-03-19 16:38:32,None,31,AndovaBegarin,0,0,NaN,7748745,31
9,34552565,2016-01-01 00:02:53,2,308,Is there a way to use flashlight on in Android...,4087330.0,34554256,34552565,2016-01-01 07:04:21,1,...,2009-10-19 11:02:23,2017-03-13 16:05:11,None,26973,Alex Cohn,2947,50,NaN,65347,26973

In [16]:
# Write a query that would return the users who have asked a question with the Python tag.
query = '''
SELECT displayname, userid
FROM users
WHERE userid IN (SELECT ownerid 
                    FROM questions 
                    JOIN questions_tags
                    ON questions.questionid = questions_tags.questionid
                    WHERE tag = 'python')
LIMIT 10
'''
pd.read_sql(query,engine)

    displayname  userid
0       doekman      56
1           ESV     150
2  Anthony Main     258
3       gyurisc     260
4      dlamblin     459
5   Rob Lachlan     688
6        Andrew     826
7  Ryan Doherty     956
8    Rob Hunter    1145
9  Grey Panther    1265

## Additional challenge questions

In [15]:
# Create a frequency list of the tags used in the top 100 most answered questions
query = '''
SELECT T.tag, COUNT(*) AS tagCount
FROM questions_tags T 
WHERE questionid IN (SELECT questionid
                    FROM answers
                    GROUP BY questionid
                    ORDER BY COUNT(*) DESC
                    LIMIT 100) 
GROUP BY T.tag 
ORDER BY tagCount DESC
LIMIT 15
'''
pd.read_sql(query,engine)

               tag  tagCount
0          android        11
1             java         6
2         angular2         6
3           python         5
4   android-studio         5
5       typescript         4
6            ios10         4
7           jquery         3
8       javascript         3
9              ios         3
10             css         3
11             c++         3
12  android-gradle         3
13       algorithm         3
14           xcode         2

In [36]:
# How would you find all the answers associated with the user with the most upvotes?

# Step 1: Find user with most upvotes
query = '''
SELECT userid FROM (SELECT MAX(upvotes), userid FROM users)
'''
most_upvotes = pd.read_sql(query,engine)
most_upvotes

   userid
0  998692

In [42]:
# Step 1: Find answers assoc with user with most upvotes
query = '''
SELECT answerid, ownerid
FROM answers
WHERE ownerid 
IN (SELECT userid FROM (SELECT MAX(upvotes), userid FROM users)) 
LIMIT 20
'''
pd.read_sql(query,engine)

   answerid  ownerid
0  37423148   998692

## Window functions

In [49]:
# Use a window function to compute the average viewcount for each ownerid 
# for the 10 questions preceding each question.
query = '''
SELECT *, AVG(viewcount) 
    OVER (PARTITION BY ownerid
        ORDER BY JULIANDAY(creationdate)
        ROWS BETWEEN 10 PRECEDING AND 1 PRECEDING) 
    AS avg_view           
    FROM questions 
    WHERE ownerid IS NOT null 
    LIMIT 30
'''
pd.read_sql(query,engine)

,questionid,creationdate,score,viewcount,title,ownerid,avg_view
0,41114667,2016-12-13 06:09:50,0,55,How to implement autovivification for Ruby str...,13,NaN
1,35473568,2016-02-18 05:31:01,0,38,Postgres DB Password not being set in Kubernet...,25,NaN
2,36177186,2016-03-23 11:39:08,0,213,PDFsharp on Azure with Custom Fonts,33,NaN
3,38792937,2016-08-05 15:32:30,0,803,How do you fake your location with the google ...,33,213.0
4,39178864,2016-08-27 08:01:24,-2,25,How can you pipe email to c# ASP.net web site ...,33,508.0
5,39958722,2016-10-10 12:50:36,4,51,How can I work out time difference between git...,33,347.0
6,37158688,2016-05-11 09:40:11,1,38,How to make my PyObjC application AppleScript-...,56,NaN
7,37211626,2016-05-13 13:44:03,2,72,What does event coreslct do in AppleScript,56,38.0
8,39492672,2016-09-14 14:13:19,0,29,How can I use `psql` without installing via brew,56,55.0
9,37732377,2016-06-09 17:16:10,0,26,Blurry/jagged text on iOS,62,NaN
10,39421950,2016-09-10 02:31:17,2,853,What is the abiFilters property in a build.gra...,62,26.0
11,41404613,2016-12-31 01:21:24,1,52,What are the limitations of an iOS hostless te...,62,439.5
12,38699405,2016-08-01 12:51:13,1,53,String array replaced on instance isn't reflected,67,NaN
13,36478921,2016-04-07 14:16:07,0,74,Is constant SQL activity with Hangfire normal?,70,NaN
14,34865588,2016-01-18 22:54:07,0,40,How do I submit an indexing job with Azure Med...,71,NaN
15,39519825,2016-09-15 20:28:54,0,38,Identifier too long error when binding Firebas...,76,NaN
16,34731419,2016-01-11 21:27:56,1,33,Can I wrap exception throwing code into a call...,91,NaN
17,41364809,2016-12-28 15:13:48,3,49,True free heap not what it should be after She...,91,33.0
18,36715487,2016-04-19 10:19:09,2,267,Finding (u with umlaut) using regular expres...,95,NaN
19,36162045,2016-03-22 18:08:52,0,70,How do I modify AWS cloudwatch metrics for mem...,105,NaN
20,39814108,2016-10-02 05:20:24,4,110,How to unit test google cloud storage in golang?,112,NaN
21,39970210,2016-10-11 03:44:41,16,255,Send Apple push notification from a Go appengi...,112,110.0
22,41252208,2016-12-20 22:25:21,5,189,nginx cache but immediately expire/revalidate ...,113,NaN
23,41387096,2016-12-29 20:59:24,0,32,It's it possible to customize the way json_enc...,115,NaN
24,34617464,2016-01-05 17:14:47,0,197,PyYAML: how to specify an include directory?,116,NaN
25,34733853,2016-01-12 00:54:30,0,40,Does the MySql binlog contain transaction boun...,116,197.0
26,34955954,2016-01-22 21:06:24,1,27,git: where is my configuration information com...,116,118.5
27,35020108,2016-01-26 17:32:31,0,58,Oracle: apply multiple updates in single state...,116,88.0
28,35030570,2016-01-27 06:52:11,0,60,OSX: How can I programatically tell if I'm run...,116,80.5
29,35044735,2016-01-27 17:59:30,3,2160,Kafka: How do I enable client logging?,116,76.4

In [70]:
# Question Find the users who have asked one question that is highly-viewed (viewcount > 1000) 
# with their remaining questions not highly-viewed (viewcount < 20).

# step 1 : find the viewcount, rank of each question, number of questions asked by the user (maxcount)
query = '''
SELECT *, 
RANK() OVER w AS rank, 
MAX(viewcount) OVER w 
    AS maxcount FROM questions 
    WHERE ownerid IS NOT null
    WINDOW w AS (PARTITION BY ownerid ORDER BY viewcount DESC)
ORDER BY viewcount DESC
LIMIT 15
'''
pd.read_sql(query,engine)

,questionid,creationdate,score,viewcount,title,ownerid,rank,maxcount
0,36668374,2016-04-16 18:57:19,20,196469,"How to solve ""server DNS address could not be ...",1707976,1,196469
1,37806538,2016-06-14 08:16:21,223,174790,Code signing is required for product type 'App...,1554347,1,174790
2,34814368,2016-01-15 15:24:36,206,134399,"""Gradle Version 2.10 is required."" Error",3319176,1,134399
3,35890257,2016-03-09 11:25:05,51,129874,Android- Error:Execution failed for task ':app...,1118886,1,129874
4,34579099,2016-01-03 16:55:16,8,129624,Fatal error: Uncaught Error: Call to undefined...,3656666,1,129624
5,35990995,2016-03-14 15:01:17,104,127764,Unsupported major.minor version 52.0 in my app,1629278,1,127764
6,35588699,2016-02-23 21:37:06,57,126752,Response to preflight request doesn't pass acc...,2896963,1,126752
7,35062852,2016-01-28 13:28:39,730,112000,NPM vs. Bower vs. Browserify vs. Gulp vs. Grun...,2761509,1,112000
8,37937984,2016-06-21 07:23:00,202,109422,Git refusing to merge unrelated histories,2670370,1,109422
9,37280274,2016-05-17 15:21:49,23,106995,"""SyntaxError: Unexpected token < in JSON at po...",4043633,1,106995
10,35429801,2016-02-16 10:21:09,400,100125,This action could not be completed. Try Again ...,5881764,1,100125
11,35411423,2016-02-15 14:03:59,305,98093,How to dispatch a Redux action with a timeout?,911930,1,98093
12,35390072,2016-02-14 09:05:32,433,95866,This certificate has an invalid issuer Apple P...,1524624,1,95866
13,37371990,2016-05-22 08:11:50,79,92994,How can I send a Firebase Cloud Messaging noti...,5582307,1,92994
14,36827659,2016-04-24 19:09:40,1128,92983,Compiling an application for use in highly rad...,183528,1,92983

In [72]:
# use step 1 as subquery and filter on the conditions: (rank = 2), (viewcount > 1000), and (viewcount < 20)
query = '''
SELECT * FROM (SELECT *, 
    RANK() OVER w as RANK,
    MAX(viewcount) OVER w AS maxcount
    from questions where ownerid is not null
    window w as (partition by ownerid order by viewcount desc))
where rank = 2 
and viewcount < 100 
and maxcount > 1000
limit 20
'''
pd.read_sql(query,engine)

,questionid,creationdate,score,viewcount,title,ownerid,rank,maxcount
0,36033340,2016-03-16 10:43:27,-2,30,Cython Build Service,194,2,2771
1,40534958,2016-11-10 18:50:26,3,70,Wildcard file include in .NET Core project wit...,767,2,2978
2,38987128,2016-08-17 02:18:33,0,91,How to git log of all branches of a remote?,1630,2,1092
3,39045133,2016-08-19 17:56:49,0,26,Is it possible to use ttml or vtt with the htm...,3537,2,1581
4,35265225,2016-02-08 08:32:51,0,89,Rails Counter Cache On the same model?,4038,2,2325
5,40719406,2016-11-21 11:46:31,1,51,BDD: Should I add multiple givens and outcomes...,4830,2,3755
6,37211298,2016-05-13 13:27:35,2,49,Accessing an array as a struct vs undefined be...,6345,2,2670
7,35168135,2016-02-03 03:47:45,0,38,"Do I have to hard-code / localise myself the ""...",6832,2,1201
8,38173710,2016-07-03 19:41:45,0,93,Amazon S3: Can clients see the file before upl...,8446,2,3605
9,38644194,2016-07-28 18:31:40,0,37,"NodeJS spawned process works on Mac, fails on ...",8513,2,1282
10,39984411,2016-10-11 18:39:56,0,11,In ASP.NET is _bin_deployableAssemblies obsole...,10676,2,18796
11,36704343,2016-04-18 21:10:03,0,33,Issue with CSS specificity(?),10853,2,1083
12,38669663,2016-07-30 01:56:56,1,73,What is the minimal install footprint to be ab...,11635,2,8936
13,40375343,2016-11-02 08:26:58,0,39,Is writing enough to detect a connection loss?,12860,2,2565
14,34813145,2016-01-15 14:23:29,0,43,Force DateTimeFormatter.ISO_* format with frac...,15355,2,5402
15,36395563,2016-04-04 06:07:04,1,99,Static routing in node express,15763,2,6006
16,35201340,2016-02-04 12:43:04,2,88,How do I set a timeout when getting an object ...,17498,2,2147
17,41129486,2016-12-13 19:55:45,0,73,Spring Boot 1.3.5 with Hikari Connection Pool ...,18716,2,1116
18,37376408,2016-05-22 15:49:59,2,53,Select documents where all values in an array ...,18856,2,1629
19,41407566,2016-12-31 10:38:30,2,34,Python - Start function after 2 concurrent fun...,19272,2,1221